<div>
    <form action="/signin" method="post" class=" shadow-md rounded-lg text-xs md:text-base sm:w-3/4  md:w-1/2 sm:mx-auto sm:px-4 md:px-12 py-2 sm:py-4  mt-8 flex justify-center">
        <div class="space-y-8 ">
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required class="border outline-none ml-4">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required class="border outline-none ml-4">
            </div>
            <button type="submit" class="bg-green-500 px-2 py-1 rounded-md hover:text-white duration-300">SignIn</button>
        </div>
    </form>
</div>