<div>
    <form action="/signup" method="post" class="shadow-md rounded-lg text-xs md:text-base sm:w-3/4 md:w-1/2 sm:mx-auto sm:px-4 md:px-12 sm:py-4 s py-2 mt-8 flex justify-center">
        <div class="space-y-10 ">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"   class="border outline-none ml-4">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email"   class="border outline-none ml-12">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"   class="border outline-none ml-4">
            </div>
            <button type="submit" class="bg-green-500 px-2 py-1 rounded-md hover:text-white duration-300">SignUp</button>
        </div>
    </form>
</div>