<header class="text-[13px] md:text-base">
    <% if (isAuthenticated) { %>

        <nav class="bg-gray-800 p-4 flex justify-between">
            <a href="/" class="text-white">Home</a>
            <div class="space-x-4">
                <a href="/new" class="text-white">Create new blog</a>
                <a href="/profile" class="text-white">Profile</a>
                <a href="/logout" class="text-white">Logout</a>
            </div>

        </nav>
        <% } else { %>

            <nav class="bg-gray-800 p-4 flex justify-between">
                <a href="/" class="text-white">Home</a>
                <div class="space-x-4">
                    <a href="/signin" class="text-white">Sign In</a>
                    <a href="/signup" class="text-white">Sign Up</a>
                </div>

            </nav>
            <% } %>
</header>