<nav class="bg-slate-200 shadow-md">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <a href="/" class="text-2xl font-bold text-gray-800">My Blog</a>
        <div>
            <a href="/new" class="text-blue-500 hover:text-blue-700">Create New Blog</a>
            <a href="/users/logout" class="ml-4 text-gray-600 hover:text-gray-800">Logout</a>
        </div>
    </div>
</nav>