 
<div class=" w-3/4 mx-auto">
    <h2 class="text-center">All your blogs</h2>
     <div>
        <% blogs.forEach(blog => { %>
              <div class="mb-6 pb-6 border-b ">
                <h2 class="text-xl font-semibold text-center"><%= blog.title %></h2>
                <p class="text-gray-600"><%= blog.content.substring(0, 100) %>...</p>
                <a href="/blog/<%= blog._id %>" class="text-blue-500">Read more...</a>
                
              </div>
            <% }) %>
               
     </div>
</div>