<div class="m-6 p-6 border shadow-md  w-3/4 mx-auto text-[12px] md:text-base">
    <h2 class="text-xl font-semibold text-center">
        <%= singleBlog.title %>
    </h2>
    <p class="text-gray-600">
        <%= singleBlog.content%>...
    </p>
    <div class="flex justify-between my-6">
        <% if( isAuthenticated && singleBlog.author && singleBlog.author.toString()===userId){ %>
            <a href="/edit/<%= singleBlog._id %> " class="bg-yellow-500 px-4 py-2 rounded-md"> Edit</a>
            <form action="/blog/<%= singleBlog._id %>?_method=DELETE" method="POST">
                <button type="submit" class="px-4 py-2 bg-red-500 text-white rounded-md">Delete Post</button>
            </form>

            <% } %>
                 
    </div>


</div>