<div>
   
    <form action="/edit/<%= blog._id %>?_method=PUT" method="post" class="w-3/4 mx-auto border   shadow-md">
        <div class="border text-center py-6">
            <label for="title" class="text-xl font-semibold text-center">Title:</label>
            <input class="outline-none" type="text" id="title" name="title" value="<%= blog.title %>" required>
        </div>
        <div class="">
            <label for="content" class="font-semibold text-xl">Content:</label>
            <textarea type="text" id="content" name="content" required
                class="w-full p-4 text-gray-600"><%= blog.content %></textarea>
        </div>
        <div class="mt-6 text-center">
            <button class="bg-amber-500 px-2 py-1 rounded-md " type="submit">save the change</button>
        </div>

    </form>
    

</div>